@import "../variables.less";

.toth3-overlay {
    textarea {
        height: 3em;
        resize: none;
    }

    h4 {
        margin-bottom: 6px;
    }

    button {
        &[command="take"] {
            width: 100%;
        }
    }

    .column {
        width: 100%;
        margin-right: 4px;
        margin-left: 4px;

        &:first-of-type {
            margin-right: 4px;
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
            margin-left: 4px;
        }
    }

    // Panel-specific
    &.lowerthird {
        button {
            &[command="take"] {
                height: 60px;
            }
        }
    }

    &.scoreboard {
        .input-group {
            margin-bottom: 4px;
        }

        .ncg-label {
            margin-top: 0;
        }

        .color-blu {
            color: @team-blu;
        }

        .color-red {
            color: @team-red;
        }
    }
}
