.ncg-btn-group
    .btn-group.btn-group-justified
        .btn-group
            button.btn.btn-xs.btn-success(type="button" command="show") Show
        .btn-group
            button.btn.btn-xs.btn-danger(type="button" command="hide") Hide
