<script>
    ElasticBehavior = {
        elasticize: function(el, text) {
            var tl = new TimelineLite();
            var measuredLen = this._measureTextLength(el, text);
            tl.to(el, 0.4, {
                opacity: 0,
                ease: Linear.easeNone,
                onComplete: function () {
                    el.textContent = text;
                }
            });
            tl.to(el.parentNode, 0.8, {width: measuredLen, ease: Power4.easeInOut});
            tl.to(el, 0.4, {opacity: 1, ease: Linear.easeNone});
        },
        _measureTextLength: function (el, text) {
            var originalText = el.textContent;
            el.textContent = text;
            var length = el.offsetWidth;
            el.textContent = originalText;
            return length;
        }
    };
</script>
