<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="toth-hudplate.html">
<link rel="import" href="elastic-behavior.html">

<dom-module id="toth-donation">
    <style>
        :host {
            display: flex;
            height: 45px;
            font-size: 32px;
            align-items: center;
        }

        #tag {
            display: block;
            width: 0;
            height: 100%;
            padding-left: 0.375em;
            padding-right: 0.375em;
            line-height: 47px;
            font-size: 1.250em;
            font-weight: 600;
            color: #E4E4E4;
            background-color: rgba(0, 0, 0, 0.5);
        }
    </style>

    <template>
        <div id="tag">
            <span></span>
        </div>
        <toth-hudplate id="body">
            <span></span>
        </toth-hudplate>
    </template>
</dom-module>

<script>
    // Wait until the page is fully loaded, because some of our handlers in here
    // rely on GSAP being loaded.
    document.addEventListener('DOMContentLoaded', function () {
        Polymer({
            is: 'toth-donation',
            properties: {
                tag: {
                    type: String,
                    observer: 'tagChanged'
                },
                body: {
                    type: String,
                    observer: 'bodyChanged'
                },
                total: {
                    type: String,
                    value: '$0'
                }
            },
            tagChanged: function (newValue) {
                this.elasticize(this.$.tag.querySelector('span'), newValue);
            },
            bodyChanged: function (newValue) {
                this.elasticize(this.$.body.querySelector('span'), newValue);
            },
            ready: function () {
                this.tag = 'Total';
                this.body = this.total;
            },
            behaviors: [ElasticBehavior]
        });

        /*
         * NodeCG bindings
         */
        var donationNodes = document.getElementsByTagName('toth-donation');
        var tl = new TimelineLite({autoRemoveChilren: true});

        nodecg.listenFor('donation', function (data) {
            // Show donation amount and donor name
            // Then, go back to showing total
            tl.to({}, 3.5, {
                onStart: function () {
                    doToEach(function (node) {
                        node.tag = data.amount;
                        node.body = data.donor__visiblename;
                    });
                },
                onComplete: function () {
                    doToEach(function (node) {
                        node.tag = 'Total';
                        node.body = node.total;
                    });
                }
            });

            // Kill time
            tl.set({}, {}, '+=3.5');
        });

        nodecg.Replicant('total')
                .on('change', function (oldVal, newVal) {
                    doToEach(function (node) {
                        node.total = newVal || '$0';
                    });
                });

        function doToEach(fn) {
            var len = donationNodes.length;
            for (var i = 0; i < len; i++) {
                fn(donationNodes.item(i));
            }
        }
    });
</script>
