<dom-module id="toth-lowerthird">
    <style>
        :host {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-size: 42px;
        }

        #head {
            display: flex;
            height: 1.357em;
            align-items: center;
            overflow: hidden;
        }

        #title {
            display: block;
            height: 100%;
            font-family: "proxima-nova-condensed";
            text-transform: uppercase;

            padding: 0 0.429em;
            font-size: 1.524em;
            font-weight: 800;
            line-height: 0.96em;
            background-color: #D3C9C9;
            transform: translateY(100%);
        }

        #logo {
            display: block;
            height: 64px;
            align-self: flex-start;
            transform: translateY(100%);
        }

        #line {
            height: 0.17em;
            background-color: #F47425;
            width: 0;
            transform-origin: center;
        }

        #body {
            max-height: 130px;
            padding: 0.2em 0.5em;
            color: #E4E4E4;
            background-color: rgba(0,0,0,0.5);
            box-sizing: border-box;
            transform: translateY(-100%);
        }

        #bodyContainer {
            overflow: hidden;
        }
    </style>

    <template>
        <div id="head">
            <div id="title">{{title}}</div>
            <img id="logo" src="../img/logo.png">
        </div>
        <div id="line"></div>
        <div id="bodyContainer">
            <div id="body"></div>
        </div>
    </template>
</dom-module>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        Polymer({
            is: 'toth-lowerthird',
            properties: {
                title: {
                    type: String
                },
                body: {
                    type: String,
                    observer: 'bodyChanged'
                }
            },
            show: function() {
                var line = this.$.line;
                var logo = this.$.logo;
                var title = this.$.title;
                var body = this.$.body;

                TweenLite.to(line, 0.8, {
                    width: '100%',
                    ease: Power3.easeInOut,
                    onUpdate: function() {
                        var lineWidth = line.offsetWidth;

                        if (!logo.showing && lineWidth >= logo.offsetWidth) {
                            logo.showing = true;
                            TweenLite.to(logo, 0.5, {y: '0%', ease: Power3.easeOut})
                        }

                        if (!title.showing && lineWidth >= title.offsetWidth) {
                            title.showing = true;
                            TweenLite.to(title, 0.5, {y: '0%', ease: Power3.easeOut})
                        }

                        if (!body.showing && lineWidth >= body.offsetWidth) {
                            body.showing = true;
                            TweenLite.to(body, 0.5, {y: '0%', ease: Power3.easeOut})
                        }
                    }
                })
            },
            hide: function() {
                var line = this.$.line;
                var logo = this.$.logo;
                var title = this.$.title;
                var body = this.$.body;

                var tl = new TimelineLite();
                tl.add('start');
                tl.to(logo, 0.5, {y: '100%', ease: Power3.easeIn}, 'start');
                tl.to(title, 0.5, {y: '100%', ease: Power3.easeIn}, 'start+=0.08');
                tl.to(body, 0.5, {y: '-100%', ease: Power3.easeIn}, 'start+=0.16');
                tl.to(line, 0.06, {scaleY: '0', ease: Linear.easeNone});
                tl.set(body, {clearProps: 'transform'});
                tl.set([title, logo, line], {
                    clearProps: 'all',
                    onComplete: function() {
                        body.showing = false;
                        title.showing = false;
                        logo.showing = false;
                    }
                });
            },
            bodyChanged: function(newValue) {
                var bodyEl = this.$.body;
                bodyEl.innerHTML = newValue;
                bodyEl.style.maxWidth = '';
                var width = bodyEl.offsetWidth;
                if (width >= 1200) {
                    var maxHeight = parseInt(window.getComputedStyle(bodyEl).maxHeight);
                    bodyEl.style.maxWidth = width / 2 + 'px';
                    while (bodyEl.scrollHeight > maxHeight) {
                        bodyEl.style.maxWidth = (parseInt(bodyEl.style.maxWidth)+1) + 'px';
                    }
                }
            }
        });

        /*
         * NodeCG bindings
         */

        var lowerthirdNodes = document.getElementsByTagName('toth-lowerthird');

        nodecg.Replicant('texts')
                .on('change', function(oldVal, newVal) {
                    var len = lowerthirdNodes.length;
                    for (var i = 0; i < len; i++) {
                        lowerthirdNodes.item(i).title = newVal.title;
                        lowerthirdNodes.item(i).body = newVal.body;
                    }
                });

        nodecg.Replicant('isShowing')
                .on('change', function(oldVal, newVal) {
                    var len = lowerthirdNodes.length;
                    for (var i = 0; i < len; i++) {
                        if (newVal) {
                            lowerthirdNodes.item(i).show();
                        } else {
                            lowerthirdNodes.item(i).hide();
                        }
                    }
                });
    }, false);
</script>
