<link rel="import" href="../components/polymer/polymer.html">

<dom-module id="toth-hudplate">
    <style>
        :host {
            display: block;
            height: 1.281em;
            width: 0;
            font-size: 32px;
            font-family: "proxima-nova";
            font-weight: 400;
            line-height: 1.37em;
            border-bottom: 0.125em solid #F47425;
            padding-left: 0.719em;
            padding-right: 0.719em;
            background-color: #D3C9C9;
        }
    </style>

    <template>
        <content></content>
    </template>
</dom-module>

<script>
    Polymer({is: 'toth-hudplate'});
</script>
