doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        link(href="style/overlay.css" rel="stylesheet")
        link(href="/components/polymer/polymer.html" rel="import")
        script(src="//use.typekit.net/ofl6oue.js")
        script.
            try{Typekit.load();}catch(e){}

        link(href="app/toth-donation.html" rel="import")
        link(href="app/toth-lowerthird.html" rel="import")
        link(href="app/toth-scoreboard.html" rel="import")
        link(href="app/toth-sponsors.html" rel="import")
    body
        #container
            svg#layout
            toth-donation#donation
            toth-scoreboard#scoreboard
            toth-lowerthird#lowerthird
            toth-sponsors#sponsors
        script(src="components/jquery/dist/jquery.min.js")
        script(src="components/gsap/src/minified/TweenMax.min.js")
        script(src="components/Snap.svg/dist/snap.svg-min.js")
        script(src="app/lowerthird.js")
