<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link href="style/overlay.css" rel="stylesheet">
    <link href="/components/polymer/polymer.html" rel="import">
    <link href="app/toth-donation.html" rel="import">
    <link href="app/toth-lowerthird.html" rel="import">
    <script src="//use.typekit.net/ofl6oue.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="container">
      <svg id="layout"></svg>
      <toth-donation id="donation"></toth-donation>
      <toth-lowerthird id="lowerthird"></toth-lowerthird>
    </div>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/Snap.svg/dist/snap.svg-min.js"></script>
    <script src="lib/jquery.balancetext.min.js"></script>
    <script src="app/lowerthird.js"></script>
    <script src="app/donation.js"></script>
  </body>
</html>